body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("snake-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #ff0040;
  text-shadow: 1px 1px 10px #00ff88;
  margin: 0;
}
.press {
  margin: 0;
}
#gameCanvas {
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #00ff88;
  border-radius: 5px;
  width: 90vw;         
  max-width: 500px;    
  height: auto;        
}
.restart-btn {
  display: none;
  border: 3px solid #00ff88;
  position: absolute;
  top: 45%;
  left: 45%;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;

}
.score-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  font-family: monospace;
}
.score, .high-score {
  margin: 0;
}
#controls button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  #gameCanvas {
      width: 500px;
    }
  #controls {
    display: none;
  }  
}

@media (max-width: 767px) {
  body {
    height: 100vh;
  }
  #gameCanvas {
    width: 95vw;
  }
}